.flex {
    display: flex;
}

.items-center {
    align-items: center;
    margin-right: -44px;
}

.justify-center {
    justify-content: center;
    margin-left: -30px;
}

.space-between {
    justify-content: space-between;
    /* font-size: 15px; */
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

.semibold {
    font-weight: bolder;
}

.mx-2 {
    justify-content:center;
    align-items: center;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 3px;
    display: flex;
    padding: 1px 3px;
    border: 0px solid rgb(59, 57, 57);
}

.my-2 {
    margin: 12px opx;
}

.flex-wrap {
    width: 1220px;
    flex-wrap: wrap;
    margin: 0px -66px;
}

.flex-wrap2 {
    width: 1220px;
    flex-wrap: wrap;
    margin: 0px 74px;
}

 